@model IEnumerable<MassFood.Models.Foods>

@{
    ViewBag.Title = "MassFood";
}

<div class="form-horizontal">
    <h2>Breakfast Menu List</h2>
    <hr />
    <div class="form-group">

        <table class="table table-responsive table-striped table-hover" style="width:100%;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                <img src="@item.image" alt="Photo of @item.image" width="50" />
            </td>
        </tr>
            }
        </table>
    </div>
</div>